*{margin: 0%;padding: 0%}
            
            .centerdiv{
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #2A3644;
            }
            i{
                color: aliceblue;
            }
            .rippleeff{
                height: 100px;
                width: 100px;
                background-color: #4cd137; 
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                
            }
            .rippleeff:before{
                content: "";
               position: absolute;
                height: calc(100% + 40px);
                width: calc(100% + 40px);
                border: 1px solid #4cd137;
                border-radius: 50%;
                animation: ripple 1.5s linear infinite;
            }

            .rippleeff::after{
                content: "";
               position: absolute;
                height: calc(100% + 40px);
                width: calc(100% + 40px);
                border: 1px solid #4cd137;
                border-radius: 50%;
                animation: ripple 1.5s linear infinite;
                animation-delay: 0.5s;
            }
            
            @keyframes ripple {
                
                0%{transform: scale(0.5); opacity: 0;};

                50%{transform: scale(1); opacity: 1;};

                100%{transform: scale(1.5);opacity: 0;};
                
            }